<!doctype html>
<html lang=en>

   <head>
      <meta charset=utf-8 />
      <meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1" />
      <meta http-equiv="Pragma" content="no-cache" />
      <title><%= current_page.data.title || "API Documentation" %></title>
      <link rel=icon href=images/bookmark.png>
      <%- stylesheet_link_tag('screen', 'screen') %>
      <%- stylesheet_link_tag('print', 'print') %>
      <%- stylesheet_link_tag('highlight-' + current_page.data.highlight_theme, 'screen,print') %>
      <%- javascript_include_tag('all') %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
   </head>

   <body class="<%= page_classes %>" data-languages="<%= JSON.stringify(langs) %>">

      <a href=# id=nav-button>
        <span><%- image_tag('navbar.png') %></span>
      </a>

      <div class=tocify-wrapper>
<!--         <a href="/"><%- image_tag('logo.svg') %></a>-->
<!--         <div class="logo-subtitle">Natural Language Processing</div>-->
         <% if (langs) { %>
            <div class=lang-selector>
               <% for(var i=0; i<langs.length; i++) { %>
                  <a href=# data-language-name="<%= langs[i] %>"><%= langs[i] %></a>
               <% } %>
            </div>
         <% } %>
        <div class="search-container">
         <% if (current_page.data.search) { %>
            <div class=search>
               <input type=text class=search id=input-search placeholder="Search">
            </div>
            <ul class=search-results></ul>
         <% } %>
        </div>
         <div id=toc></div>
         <% if (current_page.data.toc_footers) { %>
            <ul class=toc-footer>
               <% for(var i=0; i<current_page.data.toc_footers.length; i++) { %>
                  <li><%- current_page.data.toc_footers[i] %></li>
               <% } %>
            </ul>
         <% } %>
      </div>

      <div class=page-wrapper>
         <div class=dark-box></div>
         <div class=content>
            <% for(var i=0; i<includes.length; i++) { %>
               <%- includes[i] %>
            <% } %>
           <p>
             <b>More about us: <a href="https://wordio.co/about" target="_blank">wordio.co/about</a></b>
           </p>
           <p>
           <script>document.write('<sup>Email: <a href="mailto:hello@wordio.co" target="_blank">hello@wordio.co</a> &nbsp; &nbsp; <br />' +
             'Call <a href="tel:13857706789" target="_blank">385.770.6789</a></sup>')</script>
           </p>
           <p>
             <button class="action_button g-recaptcha" type="button" onclick="document.querySelector('.eapps-form-floating-button').click()">
                        <img class="svg" alt="send" src="/images/icon-send.svg" />
                        <span> open contact-form</span>
                     </button>
           </p>
           <p>&nbsp;</p>
           <p>&nbsp;</p>
           <p>&nbsp;</p>
           <p>&nbsp;</p>
           <p>&nbsp;</p>
           <p>&nbsp;</p>
           <p>&nbsp;</p>
           <p>&nbsp;</p>
           <p>&nbsp;</p>
           <p>&nbsp;</p>
           <p>&nbsp;</p>
           <p>&nbsp;</p>
           <p>&nbsp;</p>
           <p>&nbsp;</p>
           <p>&nbsp;</p>
           <p>&nbsp;</p>
           <p>&nbsp;</p>

<!--           &lt;!&ndash;-->
<!--            begin CONTACT FORM-->
<!--            &ndash;&gt;-->
<!--            <div class="contactContent">-->
<!--                <a name="contactform"></a>-->
<!--                <form id="submitContactForm">-->
<!--                     <button class="action_button g-recaptcha" type="button" onclick="document.querySelector('.eapps-form-floating-button').click()">-->
<!--                        <img class="svg" alt="send" src="/images/icon-send.svg" />-->
<!--                        <span> open contact-form</span>-->
<!--                     </button>-->
<!--                  <p>&nbsp;</p>-->
<!--                </form>-->
<!--            </div>-->
<!--           &lt;!&ndash;-->
<!--            end CONTACT FORM-->
<!--            &ndash;&gt;-->


         </div>
         <div class=dark-box>
            <% if (langs) { %>
               <div class=lang-selector>
                  <% for(var i=0; i<langs.length; i++) { %>
                     <a href=# data-language-name="<%= langs[i] %>"><%= langs[i] %></a>
                  <% } %>
               </div>
            <% } %>
         </div>
      </div>

      <script>
         if (window.location.hash==='') {
            // window.location.href='#about';
            setTimeout(function() {
               document.getElementById('nav-button').click()
            },200);
            setTimeout(function() {
               document.getElementById('nav-button').click()
            },1200);
         }
      </script>

      <!--
         CONTACT FORM
      -->
      <script>
        /*
        * Browser support
        */
        if (navigator.userAgent.includes('MSIE') || navigator.appVersion.includes('Trident')) {
          document.writeln('<p>Sorry, these forms do not support Internet Explorer. Please email <a href="mailto:paul@besta.domains"><b>paul@besta.domains</b></a></p>')
        }

        /*
        * Contact data
        */
        let updateContactData = function (key, value) {
          contactData[key] = value
          if (key === 'email') {
            Array.from(document.querySelectorAll('form')).forEach(form => {
              form['email'].value = value
            })
          }
        }
        let contactData = {
          email: '',
          name: '',
          text: '',
          updates_product: 'true',
        }
        let putUrl = 'https://manage-your-account.p.rapidapi.com/v1/contact'
        let putHeaders = {
          "content-type": "application/json",
          "x-rapidapi-host": "manage-your-account.p.rapidapi.com",
          "x-rapidapi-key": "9407dfdda9msh488197632304125p1b200bjsnff4a5b2f6272",
          "useQueryString": true
        }
        let putContactData = function (captcha_response = 'any_string') {
          return new Promise(function (resolve) {
            // request
            axios({
              method: "put",
              url: putUrl,
              headers: putHeaders,
              data: {
                contact: contactData,
                captcha_response: captcha_response
              },
            })
              .then((results) => {
                // parse data from response
                // output data, NOT object with property "data"
                if (results.data && "data" in results.data) {
                  resolve(results.data.data)
                } else {
                  console.warn('server response did not have "data" key')
                  resolve(results.data)
                }
              })
              .catch((error) => {
                // parse error text from response
                // output object with property "error"
                let data = error.response ? error.response.data : { error: "" }
                data.error = data.error || error.message ? error.message : error
                console.log('axios error', data)
                resolve(data)
              })
          })
        }

        /*
        * Submit subscribe form
        */
        let subscribeForm = document.getElementById('submitSubscribeForm');
        subscribeForm.addEventListener('submit', function (e) {
          console.log('submitSubscribeForm', contactData);
          e.preventDefault();
          if (!contactData.email) {
            subscribeForm.querySelector('.response').innerHTML = `
                <p class="error">Please enter your email address.</p>
             `;
            return
          }
          grecaptcha.ready(function () {
            grecaptcha.execute('6LfSN-MUAAAAAOxMUojSlBxkicjSeX1YLW8ds8C1', { action: 'submit' }).then(function (token) {
              console.log('captcha_response', token);
              putContactData(token).then(function (data) {
                if (data.error) {
                  subscribeForm.querySelector('.response').innerHTML = `
                         <p class="error">${data.error || 'Could not send. Something went wrong.'}</p>
                      `;
                } else {
                  subscribeForm.querySelector('.response').innerHTML = `
                         <p class="success">Email saved.</p>
                      `;
                }
                contactForm.querySelector('.response').innerHTML = ``
              })
            });
          });
        });
        /*
        * Submit contact form
        */
        let contactForm = document.getElementById('submitContactForm');
        contactForm.addEventListener('submit', function (e) {
          e.preventDefault();
          if (!contactData.email) {
            contactForm.querySelector('.response').innerHTML = `
                <p class="error">Please enter your email address.</p>
             `;
            return
          } else if (!contactData.text) {
            contactForm.querySelector('.response').innerHTML = `
                <p class="error">Please enter a message.</p>
             `;
            return
          } else if (!contactData.name) {
            contactForm.querySelector('.response').innerHTML = `
                <p class="error">Please enter your name.</p>
             `;
            return
          }
          grecaptcha.ready(function () {
            grecaptcha.execute('6LfSN-MUAAAAAOxMUojSlBxkicjSeX1YLW8ds8C1', { action: 'submit' }).then(function (token) {
              console.log('captcha_response', token);
              putContactData(token).then(function (data) {
                if (data.error) {
                  contactForm.querySelector('.response').innerHTML = `
                         <p class="error">${data.error || 'Could not send. Something went wrong.'}</p>
                      `;
                } else {
                  contactForm.querySelector('.response').innerHTML = `
                         <p class="success">Message sent. Thank you. We'll get back to you soon.</p>
                      `;
                }
                subscribeForm.querySelector('.response').innerHTML = ``
              })
            });
          });
        });
      </script>

      <script src="https://www.google.com/recaptcha/api.js?render=6LfSN-MUAAAAAOxMUojSlBxkicjSeX1YLW8ds8C1"></script>

<!--      <script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0097/5221.js" async="async"></script>-->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175046769-2"></script>
      <script>
       /*
        * Google Analytics - https://besta.domains
        */
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());
         gtag('config', 'UA-175046769-1', {
           // 'linker': {
           //   'domains': ['docs.besta.domains']
           // }
         });
         </script>

      <!--
        ELFSIGHT CONTACT FORM
      -->
      <script src="https://apps.elfsight.com/p/platform.js" defer></script>
      <div class="elfsight-app-bcf06b3b-b3f9-47c0-a7f0-11e2e4a2418f"></div>
<!--      <script>-->
<!--        setTimeout(function() {-->
<!--          let el = document.querySelector('.eapps-link');-->
<!--          if (el) {-->
<!--            el.setAttribute('style', 'display:none', 'important')-->
<!--          }-->
<!--        },2000)-->
<!--      </script>-->

   </body>

</html>
